.mixin.out/*
BBOP/*
ForgeEssentials/*
crash-reports/*
logs/*
snapshots-server/*
structures/*
banned-ips.json
banned-players.json
ops.json
usercache.json
usernamecache.json
whitelist.json
mods/TheBetweenlands-3.7.2-universal.jar
config/buildcraft/detailed.properties
.mixin.out/audit/mixin_implementation_report.txt
config/ichunutil.cfg
config/InvTweaks.cfg
config/splash.properties
config/UniqueNames.txt
